.flex {
  display: flex;
}

.no-shrink{
  flex-shrink: 0;
}

.justify-content-right {
  justify-content: right;
}
.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-items-end{
  align-items:end ;
}


.justify-content-space-between {
  justify-content: space-between;
}

.flex-1
{
  flex:1 0
}

.flex-2
{
  flex:2 0
}

.flex-3
{
  flex:3 0
}
.flex-3_5
{
  flex:3.5 0
}

.flex-4
{
  flex:4 0
}

.flex-column{
  flex-direction: column;
}
